[Unit]
Description=Wordpress Admin
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill wordpressadmin1
ExecStartPre=-/usr/bin/docker rm wordpressadmin1
ExecStartPre=-/usr/bin/docker pull sdomsta/clusterable-wordpress
ExecStart=/usr/bin/docker run -rm --name wordpressadmin1 -e WORDPRESS_DB_NAME=dbname -e WORDPRESS_DB_HOST=dbhost:dbport -e WORDPRESS_DB_USER=dbuser -e WORDPRESS_DB_PASSWORD=dbpassword -e WORDPRESS_CACHE_S3_KEY=s3key -e WORDPRESS_CACHE_S3_SECRET=s3secret -e WORDPRESS_CACHE_S3_BUCKET=s3bucket -e WORDPRESS_CACHE_HOME="http://wordpress.local:8888" -e WORDPRESS_ADMIN_ENABLED=true -p 80 sdomsta/clusterable-wordpress
ExecStop=/usr/bin/docker stop wordpressadmin1

[X-Fleet]
Conflicts=wordpress-admin.service